<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><!--required meta-->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}"><!--bootstrap css-->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin/custom css/reset_password.css') }}">

    <!-- fontawesome -->
   	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fontawesome/css/all.css') }}">
   	<script defer src="{{ url_for('static', filename='fontawesome/js/all.js') }}"></script>

   	<link rel="shortcut icon" href="{{ url_for('static', filename='images/app logo/favicon.ico') }}" type="image/x-icon">
	<link rel="icon" href="{{ url_for('static', filename='images/app logo/favicon.ico') }}" type="image/x-icon">

	{% if title %}
		<title>{{ title }}</title>
	{% else %}
		<title>Reset Password</title>
	{% endif %}

</head>

<body>
	<div class="width">
		<div class="row">
			<div class="col">
				{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
						{% for category, message in messages %}
							<div class="alert alert-{{ category }} mt-3 mb-n5">
								{{ message }}
							</div>
						{% endfor %}
					{% endif %}
				{% endwith %}
			</div>
		</div>
	<div class="bg-white p-3 rounded shadow" id="main">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Reset Password</legend>

				<div class="form-group">
					{{ form.new_password.label(class="form-control-label") }}
					{% if form.new_password.errors %}
						{{ form.new_password(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.new_password.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.new_password(class="form-control form-control-lg") }}
					{% endif %}
				</div>

				<div class="form-group">
					{{ form.confirm_new_password.label(class="form-control-label") }}
					{% if form.confirm_new_password.errors %}
						{{ form.confirm_new_password(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.confirm_new_password.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.confirm_new_password(class="form-control form-control-lg") }}
					{% endif %}
				</div>
			</fieldset>	

			<div class="d-flex justify-content-end">
			<div class="form-group">
				{{ form.submit(class="btn btn-block") }}
			</div>
			</div>

		</form>	
	</div>
	</div>


	<!--jquery-->
	<script src="{{ url_for('static', filename='bootstrap/jquery-3.4.1.min.js') }}"></script>
	<!--popper-->
	<script src="{{ url_for('static', filename='bootstrap/popper.min.js') }}"></script> 
	<!--bootstrap js-->
	<script src="{{ url_for('static', filename='bootstrap/bootstrap.min.js') }}"></script>

</body>
</html>