#Stat {
	text-align: center;
	color: white;
}

#Stat a {
	color: #fff;
}

#Stat a:hover {
	color: #f8f9fa;
}


#thesisStat {
	background: #83eca1;
}

#adviserStat {
	background: #FF7070;
}

#studentStat {
	background: #83CAE7;
}

#adminStat {
	background: #C9A9BA;
}

#Stat h1, #Stat h3{
	font-weight: bold;
}

#Logs h5{
	font-weight: bold;
}

#logsTable {
	font-size: 0.8rem;
}

#sysLogs {
	overflow-x: auto;
}