table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: auto;
}

td, th {
    text-align: left;
    padding: 8px;
    border-top: 1px solid #dee2e6;
    }

tr:nth-child(even) {
    background-color: #F0F0F0;
}

.width {
    width: 100%!important;
}

.bg-white {
    background-color: #fff!important;
}

.p3 {
    padding: 1px;
}

.shadow-sm {
  	box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.sections {
    overflow-x: auto;
}

.h1 {
    font-weight: bold;
  	margin-top: 0;
}
