{% extends "admin/base_admin.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin/custom css/admin.css') }}"> 
{% endblock %}

{% block content %} 

<div class="row" id="Stat">

		<div class="col-lg mb-3 px-3">
			<div class="p-3 shadow-sm rounded" id="thesisStat">
				<h1><i class="fas fa-book"></i> {{thesis}}</h1>
				<h3>Theses</h3>
				<a class="nav-link stretched-link" href="{{ url_for('admin.theses') }}">View</a>
			</div>
		</div>

		<div class="col-lg mb-3 px-3">
			<div class="p-3 shadow-sm rounded" id="adviserStat">
				<h1><i class="fas fa-chalkboard-teacher"></i> {{advisers}}</h1>
				<h3>Advisers</h3>
				<a class="nav-link stretched-link" href="{{ url_for('admin.users') }}">View</a>
			</div>
		</div>

		<div class="col-lg mb-3 px-3">
			<div class="p-3 shadow-sm rounded" id="studentStat">
				<h1><i class="fas fa-users"></i> {{students}}</h1>
				<h3>Students</h3>
				<a class="nav-link stretched-link" href="{{ url_for('admin.users') }}">View</a>
			</div>
		</div>

	{% if current_user in s_user %}

		<div class="col-lg mb-3 px-3">
			<div class="p-3 shadow-sm rounded" id="adminStat">
				<h1><i class="fas fa-user-tie"></i> {{admins}}</h1>
				<h3>Admins</h3>
				<a class="nav-link stretched-link" href="{{ url_for('admin.users') }}">View</a>
			</div>
		</div>
		
	{% endif %}

</div>

<div class="row" id="Logs">
	<div class="col mb-3 px-3" >
		<div class="bg-white p-3 shadow-sm" id="sysLogs">
			<h5>System Logs</h5>
			<div class="table-responsive">
				<table class="table table-striped" id="logsTable">
				  <thead>
				    <tr>
				      <th scope="col">ID</th>
				      <th scope="col">Description</th>
				      <th scope="col">Date/Time</th>
				      <th scope="col">Error Code</th>
				    </tr>
				  </thead>
				  <tbody>

				  	{% for log in logs %}
				    
					<tr>
				      <td>{{ log.id }}</td>
				      <td>{{ log.description }}</td>
					  <td>{{ log.date_time.strftime("%m/%d/%Y, %H:%M:%S") }}</td>
				      <td>
						{{ log.http_error }}
						{{ endif }}
					  </td>
				    </tr>
					
					{% endfor %}

				  </tbody>
				</table>
			</div>
			<div class="row">
				<div class="col d-flex justify-content-end">
					<a href="{{url_for('admin.logs')}}" class="btn btn-primary btn-sm" role="button">View All</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}

{% endblock %}


