{% extends "admin/base_admin.html" %}

{% block css %}

{% endblock %}


{% block content %}
	<!-- make table with pagination only. no CRUd dito -->
<!-- also make the tables responsive ulit -->

          <!-- remove spaces sa curly. nageeror pag piangtatabi ko sa comment e -->
          <!-- for datetime column { { ITERATORVARIABLE.date_time.strftime("%m/%d/%Y, %H:%M:%S") } }  -->
          <!-- ternary for error code { { value if True else None} } -->

{% endblock %}



{% block js %}


{% endblock %}
