{% extends "admin/base_admin.html" %}

{% block css %}
<!-- css scripts -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin/custom css/subjects.css') }}">
<!-- store in static/admin/custom css -->
{% endblock %}
	

{% block content %} 
<div class="width">
	<div class="bg-white p-3 shadow-sm" id="sections">

		<div class="row">
		<div class="col-8">
		  	<h1>Sections</h1>
		</div>

		<div class="col-4">
		<div class="d-flex justify-content-end">
		<a href="#" class="btn btn-secondary shadow-sm">Add</a></div>
	  	</div>    
		</div>

	  	<table class="table">
			<tr class="d-flex">
				<th scope="col" class="col-5">Name</th>
				<th scope="col" class="col-4">Code</th>				
				<th scope="col" class="col-3"><div class="d-flex justify-content-end">Action</th></div>
			</tr>

	<!-- main stuff here -->
		{% for subject in subjects.items %}
			<tr class="d-flex">
				<td class="col-5">{{subject.name}}</td>
				<td class="col-4">{{subject.code}}</td>
				<td class="col-3"><div class="d-flex justify-content-end"><a href="{{url_for('admin.update_subject',subject_code=subject.code)}}" class="btn btn-secondary shadow-sm">Edit</a></td></div>
			</tr>
		{% endfor %}


		</table>

	<div class="d-flex justify-content-end">
	{% for page_num in subjects.iter_pages() %}
		{% if page_num %}
			{% if subjects.page == page_num %}
				<a class="btn btn-info mb-4" href="{{ url_for('admin.subjects', page=page_num) }}">{{ page_num }}</a>
			{% else %}
				<a class="btn btn-outline-info mb-4" href="{{ url_for('admin.subjects', page=page_num) }}">{{ page_num }}</a>
			{% endif %}	
		{% else %}
	    	...
	    {% endif %}
		{% endfor %}
		</div>
	</div>
</div>


{% endblock %}


{% block js %}
<!-- js scripts-->

<!-- store in static/admin/custom js -->
{% endblock %}
