{% extends "admin/base_admin.html" %}

{% block css %}

{% endblock %}

{% block content %}
	<div class="bg-white p-3 shadow-sm mb-4 w-100 mx-auto">

		<div class="row">
	   		<div class="col-8">
	   			<h1>Theses</h1>
	   		</div>

			<div class="col-4">
				<div class="d-flex justify-content-end">
					<a href="{{ url_for('admin.register_thesis') }}" class="btn btn-secondary shadow-sm">Add</a>
				</div>
			</div>
		</div>

		<div class="table-responsive my-3">
		    <table class="table table-striped">
		    	<thead>
			    	<tr>
						<th scope="col">Call No.</th>
						<th scope="col">Title</th>
						<th scope="col">Program</th>
			       		<th scope="col">Category</th>
			        	<th scope="col">Semester</th>
						<th scope="col">School Year</th>
					    <th scope="col">Date Deployed</th>
					    <th scope="col">Date Registered</th>
					    <th scope="col">Action</th>
					</tr>
				</thead>

				<tbody>
				{% for thesis in theses.items %}
					<tr>
						<td class="col">{{ thesis.call_number }}</td>
						<td class="col">{{ thesis.title }}</td>
					    <td class="col">{{ thesis.program.college }}</td>
				      	<td class="col">{{ thesis.category.name }}</td>
			        	<td class="col">{{ thesis.semester.code }}</td>
						<td class="col">{{ thesis.school_year }}</td>
						<td class="col">{{ thesis.date_deploy }}</td>
						<td class="col">{{ thesis.date_register  }}</td>
						<td class="col"><a href="#" class="btn btn-secondary btn-sm">Edit</a></td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>

		<div class="d-flex justify-content-end">
	    {% for page_num in theses.iter_pages() %}
			{% if page_num %}
				{% if theses.page == page_num %}
					<a class="btn btn-secondary mb-4" href="{{ url_for('admin.theses', page=page_num) }}">{{ page_num }}</a>
				{% else %}
					<a class="btn btn-outline-secondary mb-4" href="{{ url_for('admin.theses', page=page_num) }}">{{ page_num }}</a>
				{% endif %}
	        {% else %}
	          ...
			{% endif %}
			{% endfor %}
	    </div>
	</div>


{% endblock %}


{% block js %}


{% endblock %}
