{% extends "admin/base_admin.html" %}

{% block css %}

{% endblock %}


{% block content %}
<div class="bg-white p-3 shadow-sm mb-4 w-100 mx-auto">
		
	<div class="row">
	    <div class="col-8">
		    <h1>Users</h1>
		</div>

	   	<div class="col-4">
			<div class="d-flex justify-content-end">
		    	<a href="{{ url_for('admin.register_user') }}" class="btn btn-secondary shadow-sm">Add</a>
			</div>
  		</div>    
  	</div>

  	<form class="form-inline" action="" method="POST">
		<div class="input-group input-group-sm my-2 col-4">
			<input type="text" class="form-control" name="username" placeholder="Username or Surname" maxlength="11">
  			<div class="input-group-append">
	  			<input type="submit" value="Search" class="btn btn-secondary">
	  		</div>
		</div>
	</form>	

  	<div class="table-responsive my-3">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Username</th>
					<th scope="col">Surname</th>
					<th nowrap scope="col">First Name</th>
					<th scope="col">M.I.</th>
					<th scope="col">Email</th>
				    <th scope="col">Roles</th>
				    <th scope="col">Section</th>
				    <th scope="col">Subject</th>
				    <th nowrap scope="col">Date Register</th>
				    <th scope="col">Action</th>
				</tr>
			</thead>


			<tbody>
			{% for user in users.items %}
				<tr>
					<td>{{user.username}}</td>
					<td>{{user.last_name}}</td>
					<td>{{user.first_name}}</td>
					<td>{{user.middle_initial}}</td>
					<td>{{user.email}}</td>
					
					<td>
					{% for roles in user.roles %}
						{{roles}}
					{% endfor %}
					</td>

					<td nowrap>{{user.section.code}}</td>
					<td nowrap>{{user.subject.code}}</td>
					<td>{{user.date_register.strftime('%m/%d/%Y')}}</td>
					<td><a href="{{url_for('admin.update_user',user_username=user.username)}}" class="btn btn-secondary btn-sm">Edit</a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

		<div class="d-flex justify-content-end">
		{% for page_num in users.iter_pages() %}
			{% if page_num %}
				{% if users.page == page_num %}
					<a class="btn btn-secondary mb-4" href="{{ url_for('admin.users', page=page_num) }}">{{ page_num }}</a>
				{% else %}
					<a class="btn btn-outline-secondary mb-4" href="{{ url_for('admin.users', page=page_num) }}">{{ page_num }}</a>
				{% endif %}
			{% else %}
			  ...
			{% endif %}
			{% endfor %}
		</div>

</div>


{% endblock %}


{% block js %}


{% endblock %}
