{% extends "user/user_account_update.html" %}

{% block form %}
<form method="POST" action="">
		
	{{ form.hidden_tag() }}
	
	<div class="form-group">
			{{ form.password.label() }}
				<!-- password -->
			{% if form.password.errors %}
				{{ form.password(class='form-control is-invalid',  maxlength="60") }}
				<div class="invalid-feedback order-last">
					{% for error in form.password.errors %}
						{{ error }}
					{% endfor %}
				</div>

			{% else %}
				{{ form.password(class='form-control',  maxlength="60") }}

			{% endif %}
	</div>
	<div class="form-row">
		<div class="form-group col">
				{{ form.new_password.label() }}
					<!-- new_password -->
				{% if form.new_password.errors %}
					{{ form.new_password(class='form-control is-invalid', maxlength="60") }}
					<div class="invalid-feedback order-last">
						{% for error in form.new_password.errors %}
							{{ error }}
						{% endfor %}
					</div>

				{% else %}
					{{ form.new_password(class='form-control', maxlength="60") }}

				{% endif %}
		</div>

		<div class="form-group col">
				{{ form.confirm_new_password.label() }}
					<!-- confirm_new_password -->
				{% if form.confirm_new_password.errors %}
					{{ form.confirm_new_password(class='form-control is-invalid', maxlength="60") }}
					<div class="invalid-feedback order-last">
						{% for error in form.confirm_new_password.errors %}
							{{ error }}
						{% endfor %}
					</div>

				{% else %}
					{{ form.confirm_new_password(class='form-control', maxlength="60") }}

				{% endif %}
		</div>
	</div>	
	
	{{ form.submit(class="btn btn-primary mt-3") }}

</form>
			
{% endblock %}